.container{
    background-color: #1a1b1a;
}
.btn{
    color:black;
    margin: 2px;
    margin-left: auto;
    margin-right: auto;
}
.up-btn{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.buttons{
    border-radius: 4px;
    margin: 5px;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
}
#score,#size{
    color: black;
    background-color: darkgray;
    font-size: 1rem;
    text-align: center;
    padding: 0;
}
.card-group{
    padding: 15px;
}
.card{
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    width: 75vh;
}