body{
    margin: 0;
    overflow: hidden; /*no scroll bar*/
    overscroll-behavior: none;  /* prevents refreshing the page when touch-scroll down */
    font-family: Arial, Helvetica, sans-serif;
}

.menu{
    width: 80vmin;
    position: absolute;
    /* position on screen center */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding: 5vmin; /* 5% between the width and height of the window*/
    border: 1vmin rgba(0, 0, 0, 0.6) solid;
    font-size: 7vmin;
}

button{
    font-size: 7vmin;
    background: rgb(123, 146, 196);
    color: white;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    border-radius: 1vmin;
}

button:hover{
    background: orange;
    color: black;
}

select{
    font-size: 7vmin;
    cursor: pointer;
    border: none;
    border-radius: 1vmin;
    outline: none;
}

#time{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

#imageInput{
    padding: 10px;
    margin-bottom: 10px;;
    font-size: 3.5vmin;
    cursor: pointer;
    border: 1px dashed whitesmoke;
    border-radius: 1vmin;
    color: whitesmoke;
    background-color: gray;
}