.body{
    margin: 0;
    overflow: hidden; /*no scroll bar*/
    overscroll-behavior: none;  /* prevents refreshing the page when touch-scroll down */
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1a1b1a;
}

.menu{
    width: 80vmin;
    position: absolute;
    /* position on screen center */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding: 5vmin; /* 5% between the width and height of the window*/
    border: 1vmin rgba(0, 0, 0, 0.6) solid;
    border-radius: 14px;
}

.button{
    background: rgb(123, 146, 196);
    color: white;
    cursor: pointer;
    transition: 0.3s;
    border-radius:10px;
    border: none;
    display: inline;
}

.button:hover{
    background: orange;
    color: black;
}

#difficulty{
    padding: 0px;
    margin: 0px;
    margin-bottom: 15px;
}

#time{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    color: whitesmoke;
}

#imageInput{
    padding: 10px;
    margin-bottom: 10px;;
    font-size: 3.5vmin;
    cursor: pointer;
    border: none;
    border-radius: 1vmin;
    color: whitesmoke;
    background-color: gray;
}

.images_select{
    background-color: gray;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    height:18rem;
    text-align: center;
    font-size: 2rem;
    color:whitesmoke;
    padding:0px;
    margin:0;
}
#builtinImages{
    background-color:gray;
    border: none;
}
#imageSource{
    border: none;
    scrollbar-width: thin;
}
.form-select{
    scrollbar-width: thin;
}

#controls{
    font-size: 2rem;
}